.todo {
  padding: 16px;
  margin: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lighten(gray, 30);
  border-radius: 4px;
}

.button {
  margin-left: 15px;
  height: 18px;
  position: relative;
}

.actionButtons {
  width: 90px;
  display: flex;
  justify-content: flex-end;
}

.done {
  text-decoration: line-through;
}