.day {
  max-width: 800px;
  min-height: 200px;
  margin: 10px auto;
  border: 1px solid lighten(gray, 30);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &TitleContainer {
    padding: 4px 8px;
    border-radius: 4px 4px 0 0;
    background-color: lighten(gray, 30);
  }

  &Title {
    color: darken(gray, 20);;
  }
}

.addNewItem {
  display: flex;
  justify-content: center;
  margin: 16px;
  height: 40px;
  padding: 8px;
}

.button {
  margin-left: 10px;
}
