.group {
  margin: 10px;
  border: 1px solid gray;
  border-radius: 6px;
  

  &TitleContainer {
    padding: 10px;
    border-radius: 4px 4px 0 0;
    background-color: gray;
    display: flex;
    justify-content: space-between;
  }
}

.title {
  color: white;
}

.actionButtons {
  width: 50px;
  display: flex;
  justify-content: space-between;
}

.button {
  height: 18px;
  position: relative;
  top: 4px;
}
